<h1>Sign in below!</h1>

<form action="/enter_user_record" method = "post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter your username...">

  <label for="browser_password">Password</label>
  <input id="browser_password" type="password" name="input_password" placeholder="Enter your password...">
  <button>Sign in!</button>
</form>